select{
    width: 750px;
}
#currency{
    width: 70px;
}
#currency2{
    width: 20px;
}
#table{
    border-collapse: collapse;
}
.radio_class {
    width: 100px;
    text-align: center;
}
.text_class{
    text-align: center;
}